.wrapper {
    background-color: #fee2ad;
    padding: 10px 20px;
}

.nav {
    padding: 0px 20px;
}

.navList {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navItem {
    padding: 10px 0;
    .item {
        position: relative;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        transition: color 0.2s;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            background-color: #faa533;
            bottom: -2px;
            left: 0;
            border-radius: 2px;
            transition: width 0.4s ease;
        }

        &:hover {
            color: #ef7722;
            &::before {
                width: 100%;
            }
        }

        &.active {
            color: #ef7722;
            &::before {
                width: 100%;
            }
        }
    }
}
