.wrapper {
    background-color: #fee2ad;
    padding: 10px 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    transition: ease 0.2s;

    &.active {
        color: #ef7722;
        &::before {
            width: 100%;
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #faa533;
        transition: ease 0.4s;
        bottom: -2px;
        border-radius: 2px;
        left: 0;
    }
    &:hover {
        color: #ef7722;

        &::before {
            width: 100%;
        }
    }
}
